/.vs/FeedStories/DesignTimeBuild/.dtbcache.v2
/.vs/FeedStories/FileContentIndex/098b60cf-9b26-4a55-b0be-49e537c785dd.vsidx
/.vs/FeedStories/config/applicationhost.config
/.vs/FeedStories/v17/.suo
/.vs/FeedStories/v17/DocumentLayout.json
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.sourcelink.json
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/FeedStories.WebApi.Contracts.sourcelink.json
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/FeedStories.WebApi.RequestHandler.sourcelink.json
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.csproj.BuildWithSkipAnalyzers
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.sourcelink.json

# Ignore .dll and .pdb files
*.dll
*.pdb


# Ignore Visual Studio files
[Oo]bj/
[Bb]in/
/FeedStories.Common.Utilities/bin/Debug/net8.0/FeedStories.Common.Utilities.deps.json
/FeedStories.Common.Utilities/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.GlobalUsings.g.cs
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.csproj.AssemblyReference.cache
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.csproj.BuildWithSkipAnalyzers
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.csproj.CoreCompileInputs.cache
/FeedStories.Common.Utilities/obj/FeedStories.Common.Utilities.csproj.nuget.g.props
/FeedStories.Common.Utilities/obj/FeedStories.Common.Utilities.csproj.nuget.g.targets
/FeedStories.WebApi.Contracts/bin/Debug/net8.0/FeedStories.WebApi.Contracts.deps.json
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/FeedStories.WebApi.Contracts.GlobalUsings.g.cs
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/FeedStories.WebApi.Contracts.csproj.BuildWithSkipAnalyzers
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/FeedStories.WebApi.Contracts.csproj.CoreCompileInputs.cache
/FeedStories.WebApi.Contracts/obj/FeedStories.WebApi.Contracts.csproj.nuget.g.props
/FeedStories.WebApi.Contracts/obj/FeedStories.WebApi.Contracts.csproj.nuget.g.targets
/FeedStories.WebApi.RequestHandler/bin/Debug/net8.0/FeedStories.WebApi.RequestHandler.deps.json
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/FeedStor.4B479646.Up2Date
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/FeedStories.WebApi.RequestHandler.GlobalUsings.g.cs
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/FeedStories.WebApi.RequestHandler.csproj.BuildWithSkipAnalyzers
/FeedStories.WebApi.RequestHandler/obj/FeedStories.WebApi.RequestHandler.csproj.nuget.g.props
/FeedStories.WebApi.RequestHandler/obj/FeedStories.WebApi.RequestHandler.csproj.nuget.g.targets
/FeedStories.WebApi.Service/bin/Debug/net8.0/FeedStories.WebApi.Service.deps.json
/FeedStories.WebApi.Service/bin/Debug/net8.0/FeedStories.WebApi.Service.runtimeconfig.json
/FeedStories.WebApi.Service/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Microsoft.Extensions.Http.Polly.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Microsoft.OpenApi.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Polly.Extensions.Http.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Polly.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/appsettings.Development.json
/FeedStories.WebApi.Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStor.5EF594E6.Up2Date
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.GlobalUsings.g.cs
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.MvcApplicationPartsAssemblyInfo.cache
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.MvcApplicationPartsAssemblyInfo.cs
/FeedStories.WebApi.Service/obj/Debug/net8.0/staticwebassets.build.json
/FeedStories.WebApi.Service/obj/Debug/net8.0/staticwebassets/msbuild.build.FeedStories.WebApi.Service.props
/FeedStories.WebApi.Service/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.FeedStories.WebApi.Service.props
/FeedStories.WebApi.Service/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.FeedStories.WebApi.Service.props
/FeedStories.WebApi.Service/obj/FeedStories.WebApi.Service.csproj.nuget.g.props
/FeedStories.WebApi.Service/obj/FeedStories.WebApi.Service.csproj.nuget.g.targets
/FeedStories.Common.Utilities/bin/Debug/net8.0/FeedStories.Common.Utilities.deps.json
/FeedStories.Common.Utilities/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.GlobalUsings.g.cs
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.csproj.AssemblyReference.cache
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.csproj.BuildWithSkipAnalyzers
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.csproj.CoreCompileInputs.cache
/FeedStories.Common.Utilities/obj/FeedStories.Common.Utilities.csproj.nuget.g.props
/FeedStories.Common.Utilities/obj/FeedStories.Common.Utilities.csproj.nuget.g.targets
/FeedStories.WebApi.Contracts/bin/Debug/net8.0/FeedStories.WebApi.Contracts.deps.json
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/FeedStories.WebApi.Contracts.GlobalUsings.g.cs
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/FeedStories.WebApi.Contracts.csproj.BuildWithSkipAnalyzers
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/FeedStories.WebApi.Contracts.csproj.CoreCompileInputs.cache
/FeedStories.WebApi.Contracts/obj/FeedStories.WebApi.Contracts.csproj.nuget.g.props
/FeedStories.WebApi.Contracts/obj/FeedStories.WebApi.Contracts.csproj.nuget.g.targets
/FeedStories.WebApi.RequestHandler/bin/Debug/net8.0/FeedStories.WebApi.RequestHandler.deps.json
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/FeedStor.4B479646.Up2Date
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/FeedStories.WebApi.RequestHandler.GlobalUsings.g.cs
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/FeedStories.WebApi.RequestHandler.csproj.BuildWithSkipAnalyzers
/FeedStories.WebApi.RequestHandler/obj/FeedStories.WebApi.RequestHandler.csproj.nuget.g.props
/FeedStories.WebApi.RequestHandler/obj/FeedStories.WebApi.RequestHandler.csproj.nuget.g.targets
/FeedStories.WebApi.Service/bin/Debug/net8.0/FeedStories.WebApi.Service.deps.json
/FeedStories.WebApi.Service/bin/Debug/net8.0/FeedStories.WebApi.Service.runtimeconfig.json
/FeedStories.WebApi.Service/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Microsoft.Extensions.Http.Polly.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Microsoft.OpenApi.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Polly.Extensions.Http.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Polly.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/FeedStories.WebApi.Service/bin/Debug/net8.0/appsettings.Development.json
/FeedStories.WebApi.Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStor.5EF594E6.Up2Date
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.GlobalUsings.g.cs
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.MvcApplicationPartsAssemblyInfo.cache
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.MvcApplicationPartsAssemblyInfo.cs
/FeedStories.WebApi.Service/obj/Debug/net8.0/staticwebassets.build.json
/FeedStories.WebApi.Service/obj/Debug/net8.0/staticwebassets/msbuild.build.FeedStories.WebApi.Service.props
/FeedStories.WebApi.Service/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.FeedStories.WebApi.Service.props
/FeedStories.WebApi.Service/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.FeedStories.WebApi.Service.props
/FeedStories.WebApi.Service/obj/FeedStories.WebApi.Service.csproj.nuget.g.props
/FeedStories.WebApi.Service/obj/FeedStories.WebApi.Service.csproj.nuget.g.targets
FeedStories.Common.Utilities.deps.json
.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FeedStories.Common.Utilities.GlobalUsings.g.cs
FeedStories.Common.Utilities.csproj.AssemblyReference.cache
FeedStories.Common.Utilities.csproj.BuildWithSkipAnalyzers
FeedStories.Common.Utilities.csproj.CoreCompileInputs.cache
FeedStories.Common.Utilities.csproj.nuget.g.props
FeedStories.Common.Utilities.csproj.nuget.g.targets
FeedStories.WebApi.Contracts.deps.json
FeedStories.WebApi.Contracts.GlobalUsings.g.cs
FeedStories.WebApi.Contracts.csproj.BuildWithSkipAnalyzers
FeedStories.WebApi.Contracts.csproj.CoreCompileInputs.cache
FeedStories.WebApi.Contracts.csproj.nuget.g.props
FeedStories.WebApi.Contracts.csproj.nuget.g.targets
FeedStories.WebApi.RequestHandler.deps.json
FeedStor.4B479646.Up2Date
FeedStories.WebApi.RequestHandler.GlobalUsings.g.cs
FeedStories.WebApi.RequestHandler.csproj.BuildWithSkipAnalyzers
FeedStories.WebApi.RequestHandler.csproj.nuget.g.props
FeedStories.WebApi.RequestHandler.csproj.nuget.g.targets
FeedStories.WebApi.Service.deps.json
FeedStories.WebApi.Service.runtimeconfig.json
Microsoft.Extensions.DependencyInjection.Abstractions.dll
Microsoft.Extensions.Http.Polly.dll
Microsoft.OpenApi.dll
Polly.Extensions.Http.dll
Polly.dll
Swashbuckle.AspNetCore.Swagger.dll
Swashbuckle.AspNetCore.SwaggerGen.dll
Swashbuckle.AspNetCore.SwaggerUI.dll
appsettings.Development.json
FeedStor.5EF594E6.Up2Date
FeedStories.WebApi.Service.GlobalUsings.g.cs
FeedStories.WebApi.Service.MvcApplicationPartsAssemblyInfo.cache
FeedStories.WebApi.Service.MvcApplicationPartsAssemblyInfo.cs
staticwebassets.build.json
msbuild.build.FeedStories.WebApi.Service.props
msbuild.buildMultiTargeting.FeedStories.WebApi.Service.props
msbuild.buildTransitive.FeedStories.WebApi.Service.props
FeedStories.WebApi.Service.csproj.nuget.g.props
FeedStories.WebApi.Service.csproj.nuget.g.targets
/.vs/FeedStories/FileContentIndex/2fe86f40-ef3c-45c4-b253-3a64e2cb1970.vsidx
/.vs/FeedStories/FileContentIndex/6ad3ca96-3879-4b95-9320-343a182f892d.vsidx
/.vs/FeedStories/FileContentIndex/7f050bb5-9d13-4b9a-8ae6-33b8cc0cd22f.vsidx
/.vs/FeedStories/FileContentIndex/8669d963-5d30-403c-9608-4398937e8fee.vsidx
/.vs/FeedStories/FileContentIndex/f5c93208-0a32-447e-a1a4-9c00fab60362.vsidx
/.vs/FeedStories/v17/.futdcache.v2
/.vs/FeedStories/FileContentIndex/27fe7d7d-35c7-41f4-9d76-7e190f65e68d.vsidx
/.vs/FeedStories/FileContentIndex/57762100-e78e-4630-b0a7-bc61d424ea37.vsidx
/.vs/ProjectEvaluation/feedstories.metadata.v7.bin
/.vs/ProjectEvaluation/feedstories.projects.v7.bin
/.vs/FeedStories/FileContentIndex/*.vsidx
/.vs/FeedStories/v17/TestStore/0/000.testlog
/.vs/FeedStories/v17/TestStore/0/testlog.manifest
/FeedStories.WebApi.Service/logs/FeedStories20240609.log
/FeedStories.WebApi.Service/logs/FeedStories20240610.log
/FeedStories.WebApi.Service/logs/FeedStories20240612.log
/FeedStories.WebApi.Service/logs/FeedStories20240613.log
/FeedStories.WebApi.Service/logs/FeedStories20240614.log
/.vs/FeedStories/v17/TestStore/0/001.testlog
/FeedStories.WebApi.Service/logs/FeedStories20240615.log
