/.vs/FeedStories/DesignTimeBuild/.dtbcache.v2
/.vs/FeedStories/FileContentIndex/098b60cf-9b26-4a55-b0be-49e537c785dd.vsidx
/.vs/FeedStories/config/applicationhost.config
/.vs/FeedStories/v17/.suo
/.vs/FeedStories/v17/DocumentLayout.json
/FeedStories.Common.Utilities/obj/Debug/net8.0/FeedStories.Common.Utilities.sourcelink.json
/FeedStories.WebApi.Contracts/obj/Debug/net8.0/FeedStories.WebApi.Contracts.sourcelink.json
/FeedStories.WebApi.RequestHandler/obj/Debug/net8.0/FeedStories.WebApi.RequestHandler.sourcelink.json
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.csproj.BuildWithSkipAnalyzers
/FeedStories.WebApi.Service/obj/Debug/net8.0/FeedStories.WebApi.Service.sourcelink.json

# Ignore .dll and .pdb files
*.dll
*.pdb


# Ignore Visual Studio files
[Oo]bj/
[Bb]in/
